@import "tailwindcss";

:root{
  --bg: #0b1220;
  --surface: #0f1b2d;
  --muted: #13233a;
  --text: #e6f0ff;
  --subtext: #a9bddb;

  --primary: #2dd4bf;
  --accent: #fb7185;
  --ring: rgba(45, 212, 191, 0.45);
}

body{
  background: radial-gradient(900px 500px at 20% 10%, rgba(45,212,191,0.12), transparent 50%),
              radial-gradient(900px 500px at 80% 0%, rgba(251,113,133,0.10), transparent 50%),
              var(--bg);
  color: var(--text);
}
